<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <title>Add Data</title>
</head>

<body>
    <form action="/add" method="POST">
        <div class="form-group row">
            <label for="string" class="col-sm-1 col-form-label">String</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="string" name="string" placeholder="Add String">
            </div>
        </div>

        <div class="form-group row">
            <label for="integer" class="col-sm-1 col-form-label">Integer</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="number" name="integer" placeholder="Add Integer">
            </div>
        </div>

        <div class="form-group row">
            <label for="float" class="col-sm-1 col-form-label">Float</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" step="0.1" id="float" name="float" placeholder="Add Float">
            </div>
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-1 col-form-label">Date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date" name="date" placeholder="Add Date">
            </div>
        </div>

        <div class="form-group row">
            <label for="boolean" class="col-sm-1 col-form-label">Boolean</label>
            <div class="col-sm-10">
                <select name="boolean" id="boolean">
                    <option selected>Choose the boolean....</option>
                    <option name="boolean" class="form-control" value="true">True</option>
                    <option name="boolean" class="form-control" value="false">False</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/">Back</a>
        </div>
        <form>
</body>

</html>